version: '3.7'
services:
  postgresql:
    image: 'postgres:{{ PG_VERSION }}'
    restart: always
    hostname: postgresql
    environment:
      POSTGRES_USER: '{{ PG_USER }}'
      # TODO: implement another method to provide password using docker secrets
      POSTGRES_PASSWORD: '{{ PG_PASSWORD }}'
